<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <head th:replace="common/header :: head"></head>
</head>
<body>

<div th:replace="common/header :: top-navigation">...</div>
<h1>Create a Person:</h1>

<div id="wrapper" >
    <div  id="content">
    <div th:insert="common/header :: sidebar(users)">...</div>
    <div id="content-wrapper">

<div class="container">

        <form class=" border border-light p-5 m-5" th:action="@{/saveUser}"
              th:object="${user}" method="POST">

            <p class="h4 mb-4 text-center">Ajouter un utilisateur</p>


            <div class="form-row mb-4">

                <!-- First name -->
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" th:field="*{name}">
            </div>

                <input type="text" class="form-control" placeholder="Email" th:field="*{email}" />
            <br/>

            <input type="password" class="form-control" placeholder="Mot de passe" th:field="*{password}" />
            <br/>

            <div class="d-flex flex-column justify-content-start align-content-start">
                <div class="custom-control custom-checkbox"th:each="r : ${allroles}">

                    <input type="checkbox" class="custom-control-input" th:field="*{roles}" th:value="${r.id}" />
                    <label class="custom-control-label" th:for="${#ids.prev('roles')}"
                           th:text="${r.name}"></label>

                </div>
            </div>
            <div class="d-flex justify-content-center">
            <input class="mx-auto btn btn-primary" type="submit" value="Create" />
            </div>
        </form>

        <br/>
</div>
    </div>
    </div>
</div>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:replace="common/footer :: footer">...</div>
</body>
</html>