<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: head"></head></head>
<body>
<!-- Include _menu.html -->
<div th:replace="common/header :: top-navigation">...</div>
<div id="wrapper" >
    <div th:insert="common/header :: sidebar">...</div>
    <div id="content-wrapper">
        <a th:href="@{/addRole}" class="btn btn-danger">Ajouter Role</a>
        <table>
            <th:block th:each="role : ${roles}" >
                <tr>
                    <th>name : </th>
                    <td th:text="${role.name}"><b>name : </b></td>

                    <th>description :</th>
                    <td th:text="${role.description}"><b></b></td>
                    <th>ROLE :</th>
                    <td th:each="privilege : ${role.privileges}" th:value="${privilege.id}" th:text="${privilege.name}"><b></b></td>
                    <th><a th:href="@{/deleteRole(id=${role.id})}" class="btn btn-danger">Delete</a>
                    </th>
                    <th><a th:href="@{/updateRole/{id}(id=${role.id})}">Update</a></th>
                </tr>
            </th:block>
        </table>
    </div>
</div>
<div th:replace="common/footer :: footer">...</div>

</body>
</html>