<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: head"></head></head>
<body>
<div th:replace="common/header :: top-navigation">...</div>


<div id="wrapper" >
    <div th:insert="common/header :: sidebar">...</div>


    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="jumbotron">
        <a th:href="@{/addUser}" class="btn btn-info">Add User</a>
        <a th:href="@{/rolePage}" class="btn btn-info">Gestion de roles</a>
                <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">e-mail</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${Users}" >
                <tr>
                    <td th:text="${user.id}"><b>name : </b></td>
                    <td th:text="${user.name}"><b>name : </b></td>
                    <td th:text="${user.email}"><b>e-mail :</b></td>
                    <th><a th:href="@{/deleteUser(id=${user.id})}" class="btn btn-danger">Delete</a></th>
                    <th><a th:href="@{/updateUser/{id}(id=${user.id})}" class="btn btn-primary">Update User</a></th>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</div>
</div>
</div>
<div th:replace="common/footer :: footer">...</div>
</body>
</html>