<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: head"></head>
    <title>Users</title>
</head>
<body>
<!-- Include _menu.html -->
<div th:replace="common/header :: top-navigation">...</div>
<div id="wrapper" >
    <div  id="content">
    <div th:insert="common/header :: sidebar(userLogs)">...</div>

        <div class="container">
            <div class="jumbotron">

        <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Addresse IP</th>
                    <th scope="col">Heure de conexion</th>
                </tr>
                </thead>
                <tbody>
            <div th:each="l : ${logs}" >
                <tr>


                    <td th:text="${l.name}"><b></b></td>

                    <td th:text="${l.email}"><b></b></td>

                    <td th:text="${l.IP}"><b></b></td>

                    <td th:text="${l.logTime}"><b></b></td>

                </tr>

            </div>
                </tbody>
        </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer :: footer">...</div>
</body>
</html>